DeepThoughtWS/WebContent/wsdl/DeepThought.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://DefaultNamespace" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://DefaultNamespace" xmlns:intf="http://DefaultNamespace" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://DefaultNamespace" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="Whatistheanswer">
    <complexType>
     <sequence>
      <element name="interviewer" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="WhatistheanswerResponse">
    <complexType>
     <sequence>
      <element name="WhatistheanswerReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="WhatistheanswerResponse">

      <wsdl:part element="impl:WhatistheanswerResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="WhatistheanswerRequest">

      <wsdl:part element="impl:Whatistheanswer" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="DeepThought">

      <wsdl:operation name="Whatistheanswer">

         <wsdl:input message="impl:WhatistheanswerRequest" name="WhatistheanswerRequest">

       </wsdl:input>

         <wsdl:output message="impl:WhatistheanswerResponse" name="WhatistheanswerResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="DeepThoughtSoapBinding" type="impl:DeepThought">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="Whatistheanswer">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="WhatistheanswerRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="WhatistheanswerResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="DeepThoughtService">

      <wsdl:port binding="impl:DeepThoughtSoapBinding" name="DeepThought">

         <wsdlsoap:address location="http://localhost:8080/DeepThoughtWS/services/DeepThought"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
